<<<<<<< HEAD
  
  /* Body/Header stuff */
  body {
    padding: 0px 30px 30px 20px;
    font-family: 'Asap', sans-serif;
    font-weight: 100;
  }
  
  h1 {
    font-weight: 100;
  }
  
  label {
    font-weight: bold  ;
    color: rgb(78, 62, 62);
  }
  
  .books-cart {
    margin-top: -45px;
        /* display: flex; */
        /* background-color: blue;
        flex-direction: colom; */

  }
  

.book-image {
    float: left;
    width: 20%;
  }
  .book-rate{
    float: left;
    width: 5%;
   
    box-sizing: border-box;
    display: inline;
  }
  
  .book-description {
    float: left;
    width: 32%;
    box-sizing: border-box;
    padding-left: 10px;
  }
  
  .book-price {
=======

/* Global settings */
/* Global "table" column settings */
.product-image {
    float: left;
    width: 20%;
  }
  
  .product-details {
    float: left;
    width: 37%;
  }
  
  .product-price {
>>>>>>> 43958af1a76584d59ed7a329638b3fd258d77ab1
    float: left;
    width: 12%;
  }
  
<<<<<<< HEAD
  .book-quantity {
=======
  .product-quantity {
>>>>>>> 43958af1a76584d59ed7a329638b3fd258d77ab1
    float: left;
    width: 10%;
  }
  
<<<<<<< HEAD
  .book-remove {
=======
  .product-removal {
>>>>>>> 43958af1a76584d59ed7a329638b3fd258d77ab1
    float: left;
    width: 9%;
  }
  
<<<<<<< HEAD
  .books-quantity-price {
=======
  .product-line-price {
>>>>>>> 43958af1a76584d59ed7a329638b3fd258d77ab1
    float: left;
    width: 12%;
    text-align: right;
  }
  
<<<<<<< HEAD

  /* headers */
  .headers label {
=======
  /* This is used as the traditional .clearfix class */
  .group:before, .shopping-cart:before, .column-labels:before, .product:before, .totals-item:before,
  .group:after,
  .shopping-cart:after,
  .column-labels:after,
  .product:after,
  .totals-item:after {
    content: '';
    display: table;
  }
  
  .group:after, .shopping-cart:after, .column-labels:after, .product:after, .totals-item:after {
    clear: both;
  }
  
  .group, .shopping-cart, .column-labels, .product, .totals-item {
    zoom: 1;
  }
  
  /* Apply clearfix in a few places */
  /* Apply dollar signs */
  .product .product-price:before, .product .product-line-price:before, .totals-value:before {
    content: '$';
  }
  
  /* Body/Header stuff */
  body {
    padding: 0px 30px 30px 20px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 100;
  }
  
  h1 {
    font-weight: 100;
  }
  
  label {
    color: #aaa;
  }
  
  .shopping-cart {
    margin-top: -45px;
  }
  
  /* Column headers */
  .column-labels label {
>>>>>>> 43958af1a76584d59ed7a329638b3fd258d77ab1
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
  }
<<<<<<< HEAD
  .headers .book-image, .headers .book-description, .headers .book-remove {
    text-indent: -9999px;
  }
  
  /* Books to be added*/
  .book {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid rgb(218, 206, 206);
  }

  .book .book-image {
    text-align: center;
  }

  .book .book-image img {
    width: 100px;
  }
  .book .book-rate{
    margin-right: 0px;
    padding: 5px
  }


  .book .book-description .book-name {
    margin-right: 20px;
    font-family: 'Asap', sans-serif;
  }
  .book .book-description .book-description {
    margin: 5px 20px 5px 0;
    line-height: 1.4em;
  }
  .book .book-quantity input {
    width: 40px;
  }
  .book .remove-book {
=======
  .column-labels .product-image, .column-labels .product-details, .column-labels .product-removal {
    text-indent: -9999px;
  }
  
  /* Product entries */
  .product {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
  }
  .product .product-image {
    text-align: center;
  }
  .product .product-image img {
    width: 100px;
  }
  .product .product-details .product-title {
    margin-right: 20px;
    font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium";
  }
  .product .product-details .product-description {
    margin: 5px 20px 5px 0;
    line-height: 1.4em;
  }
  .product .product-quantity input {
    width: 40px;
  }
  .product .remove-product {
>>>>>>> 43958af1a76584d59ed7a329638b3fd258d77ab1
    border: 0;
    padding: 4px 8px;
    background-color: #c66;
    color: #fff;
<<<<<<< HEAD
    font-family: 'Asap', sans-serif;
    font-size: 12px;
    border-radius: 3px;
  }
  .book .remove-book:hover {
=======
    font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium";
    font-size: 12px;
    border-radius: 3px;
  }
  .product .remove-product:hover {
>>>>>>> 43958af1a76584d59ed7a329638b3fd258d77ab1
    background-color: #a44;
  }
  
  /* Totals section */
  .totals .totals-item {
    float: right;
    clear: both;
    width: 100%;
    margin-bottom: 10px;
  }
  .totals .totals-item label {
    float: left;
    clear: both;
    width: 79%;
    text-align: right;
  }
  .totals .totals-item .totals-value {
    float: right;
    width: 21%;
    text-align: right;
  }
  .totals .totals-item-total {
<<<<<<< HEAD
    font-family: 'Asap', sans-serif;
  }
  
  .confirm-order {
    float: right;
=======
    font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium";
  }
  
  .checkout {
    float: right;
    border: 0;
>>>>>>> 43958af1a76584d59ed7a329638b3fd258d77ab1
    margin-top: 20px;
    padding: 6px 25px;
    background-color: #6b6;
    color: #fff;
    font-size: 25px;
<<<<<<< HEAD
  }
  
  .confirm-order {
    background-color: #494;
  }


  /* ------ */
  .books-cart:before, .headers:before, .book:before, .totals-item:before,
  
  .books-cart:after,
  .headers:after,
  .book:after,
  .totals-item:after {
    content: '';
    display: table;
  }
  
 .books-cart:after, .headers:after, .book:after, .totals-item:after {
    clear: both;
  }
  
 .books-cart, .headers, .book, .totals-item {
    zoom: 1;
  }
  

  .book .book-price:before, .book .books-quantity-price:before, .totals-value:before {
    content: 'JOD ';
  }


/* fix book rate header when minimize
  .headers .book-rate, */
=======
    border-radius: 3px;
  }
  
  .checkout:hover {
    background-color: #494;
  }
  
 
>>>>>>> 43958af1a76584d59ed7a329638b3fd258d77ab1
