* {
  box-sizing: border-box;
}

html {
  font: normal 16px 'Playfair Display', serif;
  background-color: var(--second);
}

a {
  text-decoration: none;
  opacity: 1;
  color: var(--first);
}

button:hover {
  cursor: pointer;
}

header a:hover, footer a:hover {
  opacity: 0.75;
}

:root {
  --first: #f5c611;
  --second: #121212;
  --third: #000;
  --fifth: #ffd700;
}

header a, footer a {
  opacity: 1;
}

header a:hover, footer a:hover {
  opacity: 0.75;
}

header {
  font-family: 'Yellowtail', cursive;
  color: var(--first);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 6.25rem;
  animation: 1s fade 0.5s forwards;
  opacity: 0;
  background-color: var(--third);
}

@keyframes fade {
  100% {
    opacity: 1;
  }
}

header h2 {
  font-size: 2rem;
}

header nav ul {
  font-size: 1.2rem;
  display: flex;
  margin-right: -1rem;
}

header nav ul li {
  margin: 0 1rem;
}
header a {
  color: var(--first);
}
#div1{ 
    display: flex;
    flex-direction: row;
    width: 50rem;
    height: 32rem;
    border-radius: 2rem;
    border: 2px solid var(--first);
}
#author{
  font-size: large;
}

#div2{
display: flex;
justify-content: space-between;
flex-direction: column;
margin: 0 2rem;
}

#img_stars{
    width:25rem;
}

#img_book{
  width: 20rem;
  border-radius: 2rem 0 0 2rem;
}

#book_tags{
  width: 100%;
  margin-right: 2rem;
}
#book_tags button{
  font-size: 1rem;
  margin: 0 auto;
}


/* button{
    width: 20%;
    margin-left: 10%;
    margin-right: 10%;
    height: 50px;
} */
#description{
  overflow: hidden;
  margin-top: 2rem;
}
a.button{
    border-radius: .2rem;
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
    opacity: 1;
    transition: 0.25s;
  }
  
a.button {
  border-radius: .2rem;
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
  opacity: 1;
  transition: 0.25s;
}

button {
  padding: 1rem 1.3rem;
  border-style: none;
  background-color: var(--third);
  font-size: 1.3rem;
  color: var(--first);
  letter-spacing: 1px;
  font-family: 'Yellowtail', cursive;
  transition: 0.25s;
}

button:hover {
  background-color: var(--first);
  color: var(--second);
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 0.5rem -0.3rem var(--first);
}
#div2 button{
  border-radius: 0.5rem;
  background-color: var(--second);
  font-size: 1.2rem;
}
#div2 button:hover{
  transform: translateY(-0.3rem);
background-color: var(--fifth);
}

.sec-content {
  opacity: 0;
  margin-top: 6.25rem;
  animation: 1s verticalFade 1s forwards;
}
header a{
    text-decoration: none;
    opacity: 1;
    color: var(--first);
  }
  header a:hover{
    opacity: 0.75;
  } 

@keyframes fade {
    100% {
      opacity: 1;
    }
  }
  header h2{
    font-size: 2rem;
  }
  header nav ul{
    font-size: 1.2rem;
    display: flex;
    margin-right: -1rem;
  }
  header nav ul li{
    margin: 0 1rem;
  }

/* ------------ related_book_ul --------- */

#related_book_ul{
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  width: 40%;
  margin-top: 5rem;
  padding-left: 0;
}
#related_book_ul li,#related_book_ul img{
  width: 10rem;
  border-radius: 1.5rem;
}
#related_book_ul img{
  height: 10rem;
}
button{
  outline: none;
}

#related_book_ul>li{
  width: 200px;
  display: flex;
  flex-direction: column;

}
#cart_span {
 margin-bottom: 2rem;
}
#cart_span h3{
  margin-left: 2rem;
}
#cart_span h3:hover{
  color: var(--second);
}
#div h2{
  margin: 0;
}
#div p{
 padding-top: 2rem;
}
/**********************************************/
#section{
  display: flex;
justify-content: center;
padding-top: 0;
}

section {
  display: flex;
  align-items: center;
  padding: 3rem 2.5rem;
}
.listSec  {
  flex-direction: column;
  align-items: flex-start;
  padding:0 2rem;
}
.listSec ul{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  width: 100%;
  flex-wrap:wrap;
  justify-content:flex-start;

}
.listSec li h3{
    text-align: center;
    margin: 0 0 4rem;
    color: var(--first);
    font-weight: bold;
}
.listSec ul li img{
  /* width: 100%; */
  max-width: 80%;
  min-height: 22rem ;
  max-height: 22rem;
  border-radius: 2rem;
  box-shadow: 0 0 1rem var(--second);
  transition:  0.25s;
}
.listSec h2{
  color: var(--second);
  font: bold 2rem 'Playfair Display', serif;
  padding:0 0 2rem 1.5rem;
}
.listSec li{
  text-align: center;
  min-width: 20%;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.listSec img:hover{
  transition: 0.25s;
}
.listSec img:hover{
border:none;
box-shadow: 0 0.5rem 2rem -0.3rem var(--first);
transform: translateY(-0.3rem);
border: 1px solid var(--first);
}
.listSec button{
  padding: .8rem;
  margin: 1rem 0;
  border-style: none;
  background-color: var(--second);
  font-size: 1rem ;
  color:var(--first);
}
.listSec span{
  display: flex;
  justify-content: space-evenly;
  background-color: var(--second);
  overflow: hidden;
  margin-top: 1rem;
  max-height: 2.5rem;
  align-items: center;
  transition: 0.25s;
  width: 12.6rem;
  border-radius: 0.5rem;
}
.listSec span:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 0.5rem 0.5rem -0.3rem var(--first);
  border: 1px solid var(--fifth);
}
.listSec button:hover,
span a:hover {
  background-color: var(--first);
  color: var(--second);
}
/* .listSec button:hover{
  background-color:var(--first) ;
  color: var(--second);
} */
/* .listSec span:hover{
  border-radius: 0.5rem;
  transform: translateY(-0.3rem);
  box-shadow: 0 0.5rem 0.5rem -0.3rem var(--first);
} */
img {
  opacity: 0.75;
}

img:hover {
  opacity: 1;
  cursor: pointer;
}
footer {
  font-family: 'Yellowtail', cursive;
  background-color: var(--third);
  color: var(--first);
  clear: both;
  font-size: 1.3rem;
}

footer p {
  text-align: center;
  /* padding: 1rem; */
  margin: 2rem 14rem 0 0 ;
}

footer a {
  text-decoration: none;
}

footer li {
  list-style: none;
}

footer>section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  padding: 0 5rem 1rem;
}

footer section section {
  display: block;

  padding: 1.2rem 0 0;
  text-align: left;
}

footer ul {
  display: flex;
  align-items: center;
  text-align: left;
  width: 50%;
  margin: 0 ;
}

footer li {
  padding: .5rem;
  font-family: 'Playfair Display', serif;
  font-size: 0.8rem;
}

footer h2 {
  font-size: 1.2rem;
  padding: 0 0 1rem .5rem;
  margin: 0 ;
}

.related_img{
  width: 250px;
}
h2,p,h1,h3{
  color: var(--first);
  text-align: justify;
}
 