*{
    box-sizing:border-box;
}
  html{
    font: normal 16px 'Playfair Display', serif;
}
  a{
    text-decoration: none;
    opacity: 0.75;
    color: #03e9f4;
  }
  a:hover{
    opacity: 1;
  } 
header{
  font-family: 'Yellowtail', cursive;
  color: #03e9f4;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 6.25rem;
  animation: 1s fade 0.5s forwards;
  opacity: 0;
  background-color: #2c293b;
}
@keyframes fade {
  100% {
    opacity: 1;
  }
}
header h2{
  font-size: 2rem;
}
header nav ul{
  font-size: 1.2rem;
  display: flex;
  margin-right: -1rem;
}
header nav ul li{
  margin: 0 1rem;
}
section {
  display: flex;
  flex-direction: column ;
  align-items: center;
  padding: 3rem 2.5rem;
}
.listSec  {
  flex-direction: column;
  align-items: flex-start;
  padding:4rem 2rem;
}
.listSec ul{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.listSec li h3{
    text-align: center;
    margin: 1rem auto;
    color: #2c293b;
    font-weight: bold;
}
.listSec ul li img{
  /* width: 100%; */
  max-width: 80%;
  min-height: 22rem ;
  border-radius: 2rem;
  box-shadow: 0 0 1rem #2c293b;
  transition:  0.25s;
}
.listSec h2{
  color: #2c293b;
  font: bold 2rem 'Playfair Display', serif;
  padding:0 0 2rem 1.5rem;
}
.listSec li{
  text-align: center;
  min-width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.listSec img:hover{
border:none;
box-shadow: 0 0.5rem 2rem -0.3rem #03e9f4;
transform: translateY(-0.3rem);
border: 1px solid #03e9f4;
}
.listSec button{
  padding: .8rem;
  margin: 1rem 0;
  border-style: none;
  background-color: #2c293b;
  font-size: 1rem ;
  color:#03e9f4;
}
.listSec span{
  display: flex;
  justify-content: space-evenly;
  background-color: #2c293b;
  border-radius: 2rem;
  overflow: hidden;
  margin-top: 1rem;
  max-height: 2.5rem;
  align-items: center;
  transition: 0.25s;
}
.listSec button:hover,span a:hover{
  background-color:#03e9f4 ;
  color: #2c293b;
}
.listSec span:hover{
  border-radius: 0.5rem;
  transform: translateY(-0.3rem);
  box-shadow: 0 0.5rem 0.5rem -0.3rem #03e9f4;
}
#delivery{
    text-align: center;
    background-color: whitesmoke;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 30px;
    font-weight: 900;
}
#delivery img{
    width: 100px;
}
#flash{
    animation: blinker 1s linear infinite;
}
@keyframes blinker {
    40% {
      opacity: 0;
    }
  }
  footer {
    font-family: 'Yellowtail', cursive;
    background-color: #2c293b;
    color: #03e9f4;
    clear: both;
  }
  footer p {
    text-align: center;
    padding: 20px;
  }