* {
  box-sizing: border-box;
}

html {
  font: normal 16px 'Playfair Display', serif;
  background-color: var(--second);
}
a {
  text-decoration: none;
  opacity: 0.75;
  color: var(--first);
}

a:hover {
  opacity: 1;
}

:root {
  --first: #f5c611;
  --second: #121212;
  --third: #000;
  --fourth: #ccc;
  --fifth: #f5c518;
  --sixth: #fff;
}
button {
  outline: none;
  font-family: 'Yellowtail', cursive;
}
span a {
  opacity: 1;
}

header a,
footer a {
  opacity: 1;
}

header a:hover,
footer a:hover {
  opacity: 0.75;
}

header {
  font-family: 'Yellowtail', cursive;
  color: var(--first);
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.2rem 6.25rem 0;
  animation: 1s fade 0.5s forwards;
  opacity: 0;
  z-index: 1;
}

@keyframes fade {
  100% {
    opacity: 1;
  }
}

header h2 {
  font-size: 2rem;
}

header nav ul {
  font-size: 1.2rem;
  display: flex;
  margin-right: -1rem;
}

header nav ul li {
  margin: 0 1rem;
}
header a {
  color: var(--first);
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 2.5rem;
}

button:hover {
  cursor: pointer;
}

.sec {
  font-family: 'Yellowtail', cursive;
  color: var(--first);
  position: relative;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
}

.sec .bg-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: center/cover var(--first) url(./../images/section.jpg);
  z-index: -1;
}

.sec h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
}

.sec h3 {
  font-size: 2rem;
  margin-bottom: 1.6rem;
}

a.button {
  border-radius: 0.2rem;
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
  opacity: 1;
  transition: 0.25s;
}

.sec button {
  padding: 1rem 1.3rem;
  border-style: none;
  background-color: var(--second);
  font-size: 1.3rem;
  color: var(--first);
  letter-spacing: 1px;
  border-radius: 0.5rem;
  font-family: 'Yellowtail', cursive;
  transition: 0.25s;
}

.sec button:hover {
  background-color: var(--second);
  color: var(--fourth);
  transform: translateY(-0.3rem);
  box-shadow: 0 0.5rem 0.5rem -0.3rem var(--fourth);
}

.sec-content {
  opacity: 0;
  margin-top: 6.25rem;
  animation: 1s verticalFade 1s forwards;
}

@keyframes verticalFade {
  100% {
    opacity: 1;
    margin: 0;
  }
}

/* unorderedListStyle */

#ulList {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#ulList ul {
  justify-content: space-between;
  height: auto;
}

#ulList li {
  box-shadow: 0 0 1rem var(--third);
  min-height: 10rem;
  max-height: 25rem;
  padding: 1.2rem;
  background-clip: content-box;
  margin: 1.2rem auto;
  border-radius: 1.2rem;
  line-height: 2rem;
  overflow: hidden;
}

#ulList li.small {
  flex-basis: 27%;
  background: center/cover url(../images/mitchell-luo-k3fFyMq3mAQ-unsplash.jpg);
  color: var(--sixth);
  text-align: center;
  min-height: 2rem;
}

#ulList li.large {
  flex-basis: 68%;
  background: center/cover no-repeat
    url(../images/mitchell-luo-k3fFyMq3mAQ-unsplash.jpg);
  color: var(--sixth);
}

#ulList h3 {
  font: bold 1.2rem 'Playfair Display', serif;
  text-align: center;
  margin-bottom: 0.5rem;
}

#ulList p {
  text-align: justify;
  z-index: 1;
}

.listSec {
  flex-direction: column;
  align-items: flex-start;
  padding-top: 0;
}

.listSec ul {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.listSec ul li img {
  /* width: 100%; */
  max-width: 14rem;
  min-height: 22rem;
  border-radius: 2rem;
  /* box-shadow: 0 0 1rem #aaa; */
  transition: 0.25s;
}

.listSec h2 {
  color: var(--fifth);
  font: bold 2rem 'Playfair Display', serif;
  padding: 0 0 2rem 1.5rem;
}

.listSec li {
  text-align: center;
  min-width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.listSec img:hover {
  border: none;
  box-shadow: 0 0.5rem 2rem -0.3rem var(--first);
  transform: translateY(-0.3rem);
  border: 1px solid var(--first);
  cursor: pointer;
}

.listSec button {
  padding: 0.8rem;
  margin: 1rem 0;
  border-style: none;
  background-color: var(--second);
  font-size: 2rem;
  color: var(--first);
}

.listSec span {
  display: flex;
  justify-content: space-evenly;
  background-color: var(--second);
  border-radius: 0.5rem;
  overflow: hidden;
  margin-top: 1rem;
  max-height: 2.5rem;
  align-items: center;
  transition: 0.25s;
}

.listSec button:hover,
span a:hover {
  background-color: var(--first);
  color: var(--second);
}

.listSec span:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 0.5rem 0.5rem -0.3rem var(--first);
  border: 1px solid var(--fifth);
}

.para {
  margin-bottom: 4rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--fifth);
  line-height: 2;
  background-color: var(--third);
  padding: 1rem;
}
/* .listSec button:hover{
  border:#ccc 1px solid;
  box-shadow: 0 0 .5rem .2rem #ccc;
  transform: translateY(-0.3rem);
} */

/* background-image: linear-gradient(90deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.0666667) 4%, rgba(255,255,255,0) 10%, rgba(255,255,255,0) 90%, rgba(0,0,0,0.0666667) 96%, rgba(0,0,0,0.2) 100%);for cards */

/* box-shadow: 0px 0px 15.4533px rgba(0, 0, 0, 0.1);for plate
box-shadow: 0px 12px 25px 0px rgba(0, 199, 157, 0.35);for button */

/* button ::selection{
  border-color: var(--second);
} */

footer {
  font-family: 'Yellowtail', cursive;
  background-color: var(--third);
  color: var(--first);
  clear: both;
  font-size: 1.3rem;
}

footer p {
  text-align: center;
  /* padding: 1rem; */
  margin: 2rem 14rem 0 0;
}

footer a {
  text-decoration: none;
}

footer li {
  list-style: none;
}

footer > section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  padding: 0 5rem 1rem;
}

footer section section {
  display: block;

  padding: 1.2rem 0 0;
  text-align: left;
}

footer ul {
  display: flex;
  align-items: center;
  text-align: left;
  width: 50%;
  margin: 0;
}

footer li {
  padding: 0.5rem;
  font-family: 'Playfair Display', serif;
  font-size: 0.8rem;
}

footer h2 {
  font-size: 1.2rem;
  padding: 0 0 1rem 0.5rem;
  margin: 0;
}
