/*--------------------------------------------------generalRules--------------------------------------------------*/
*{
  box-sizing:border-box;
}
html{
  font: normal 16px 'Playfair Display', serif;
  background-color: var(--second);
}
a{
  text-decoration: none;
  opacity: 0.75;
  color: #03e9f4;
}
a:hover{
  opacity: 1;
} 
:root {
  --first: #f5c611;
  --second: #121212;
}
span a{
  opacity: 1;
}
/*--------------------------------------------------headerStyle---------------------------------------------------*/
header a{
  opacity: 1;
}
header a:hover{
  opacity: 0.75;
}
header{
  font-family: 'Yellowtail', cursive;
  color: var(--first);
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.2rem 6.25rem 0;
  animation: 1s fade 0.5s forwards;
  opacity: 0;
  z-index: 1;
}
@keyframes fade {
  100% {
    opacity: 1;
  }
}
header h2{
  font-size: 2rem;
}
header nav ul{
  font-size: 1.2rem;
  display: flex;
  margin-right: -1rem;
}
header nav ul li{
  margin: 0 1rem;
}
section {
  display: flex;
  flex-direction: column ;
  align-items: center;
  padding: 3rem 2.5rem;
}
button:hover{
cursor: pointer;
}
/*------------------------------------------------secSectionStyle-------------------------------------------------*/
header a{
  color: var(--first);
}
.sec {
  font-family: 'Yellowtail', cursive;
  color:var(--first);
  position:relative;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
}
.sec .bg-img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: center/cover #80a3db url(./../images/section.jpg);
  z-index: -1;
}
.sec h1{
  font-size: 4rem;
  margin-bottom: 1rem;
}
.sec h3{
  font-size: 2rem;
  margin-bottom: 1.6rem;
}
a.button{
  border-radius: .2rem;
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
  opacity: 1;
  transition: 0.25s;
}
.sec button{
  padding: 1rem 1.3rem;
  border-style: none;
  background-color: var(--second);
  font-size: 1.3rem ;
  color:var(--first);
  letter-spacing: 1px;
  border-radius: 2rem;
  font-family: 'Yellowtail', cursive;
  transition: 0.25s;
}
.sec button:hover{
  background-color:var(--second) ;
  color: #ccc;
  border-radius: 0.5rem;
  transform: translateY(-0.3rem);
  box-shadow: 0 0.5rem 0.5rem -0.3rem #ccc;
}
.sec-content{
  opacity: 0;
  margin-top:6.25rem ;
  animation: 1s verticalFade 1s forwards;
}
@keyframes verticalFade {
  100%{
    opacity: 1;
    margin:0;
  }
}
/* unorderedListStyle */
#ulList{
width: 100%;
display: flex;
flex-wrap: wrap;
justify-content: center;
}
#ulList ul{
  justify-content: space-between;
  height: auto;
}
#ulList li{
  box-shadow: 0 0 1rem #000;
  min-height: 10rem;
  max-height: 25rem;
  padding: 1.2rem;
  background-clip: content-box;
  margin: 1.2rem auto;
  border-radius: 1.2rem;
  line-height: 2rem;
  overflow: hidden;
}
#ulList li.small{
  flex-basis: 27%;
  background: center/cover url(../images/mitchell-luo-k3fFyMq3mAQ-unsplash.jpg);
  color: #fff;
  text-align: center;
  min-height:2rem;
}
#ulList li.large{
  flex-basis: 68%;
  background: center/cover no-repeat url(../images/mitchell-luo-k3fFyMq3mAQ-unsplash.jpg);
  color: #fff;
}
/*-------------------------------------------------bookListStyle--------------------------------------------------*/
#ulList h3{
  font: bold 1.2rem 'Playfair Display', serif;
  text-align: center;
  margin-bottom: 0.5rem;
}
#ulList p{
  text-align: justify;
  z-index: 1;
}
.listSec  {
  flex-direction: column;
  align-items: flex-start;
  padding-top: 0;
}
.listSec ul{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.listSec ul li img{
  /* width: 100%; */
  max-width:14rem;
  min-height: 22rem ;
  border-radius: 2rem;
  /* box-shadow: 0 0 1rem #aaa; */
  transition:  0.25s;
}
.listSec h2{
  color: #ffd700;
  font: bold 2rem 'Playfair Display', serif;
  padding:0 0 2rem 1.5rem;

}
.listSec li{
  text-align: center;
  min-width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.listSec img:hover{
border:none;
box-shadow: 0 0.5rem 2rem -0.3rem var(--first);
transform: translateY(-0.3rem);
border: 1px solid var(--first);
}
.listSec button{
  padding: .8rem;
  margin: 1rem 0;
  border-style: none;
  background-color: var(--second);
  font-size: 1rem ;
  color:var(--first);
}
.listSec span{
  display: flex;
  justify-content: space-evenly;
  background-color: var(--second);
  border-radius: 2rem;
  overflow: hidden;
  margin-top: 1rem;
  max-height: 2.5rem;
  align-items: center;
  transition: 0.25s;
}
.listSec button:hover,span a:hover{
  background-color:var(--first) ;
  color: var(--second);
}

.listSec span:hover{
  border-radius: 0.5rem;
  transform: translateY(-0.3rem);
  box-shadow: 0 0.5rem 0.5rem -0.3rem var(--first);
}
.para{
  margin-bottom: 4rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
  color: #ffd700;
}
/* .listSec button:hover{
  border:#ccc 1px solid;
  box-shadow: 0 0 .5rem .2rem #ccc;
  transform: translateY(-0.3rem);
} */
/* background-image: linear-gradient(90deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.0666667) 4%, rgba(255,255,255,0) 10%, rgba(255,255,255,0) 90%, rgba(0,0,0,0.0666667) 96%, rgba(0,0,0,0.2) 100%);for cards */
/* box-shadow: 0px 0px 15.4533px rgba(0, 0, 0, 0.1);for plate
box-shadow: 0px 12px 25px 0px rgba(0, 199, 157, 0.35);for button */

footer {
  font-family: 'Yellowtail', cursive;
  background-color: #000;
  color: var(--first);
  clear: both;
}
footer p {
  text-align: center;
  padding: 20px;
} 
/* main section{
    background-image: url(./../images/section.jpg);
    width: 100%;*/
